.tus_kurse{
    display: flex;
    background-color: var(--color-header);
    color: var(--color-text-header);
}

.tus_kurse_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tus_kurse_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tus_kurse_content{
    padding-left: 1rem;
    padding-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tus_kurse_content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.04em;
    margin-left: 1rem;
}

.tus_kurse_content p {
    font-family: var(--font-family);
    font-size: 22px;
    line-height: 32px;
    color: var(--color-text-header);
    margin-top: 0.5rem;
    margin-left: 5rem;
}

.tus_kurse_content_button{
    display: felx;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 20rem;
}

.tus_kurse_content_button button{
    background-color: var(--welcome-text);
    margin-right: 5rem;
    border: none;
    color:black;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 27px;
    font-weight: medium;
    flex: 1;
    border-radius: 10px;
    width: 128px;
    height: 49px;
    cursor: pointer;
}

@media screen and (max-width: 1050px){

    .tus_kurse_content h1{
        font-size: 40px;
        line-height: 46px;
        margin-left: 1rem;
    }

    .tus_kurse_content p{
        font-size: 15px;
        margin-top: 0;
        margin-left: 4rem;
        line-height: 22px;
    }

    .tus_kurse_content_button{
        margin: 1rem 9rem
    }

    .tus_kurse_content_button button{
        margin-right: 3.5rem;
    }
}

@media screen and (max-width: 650px){
    .tus_kurse_img {
        display: none;
    }

    .tus_kurse_content p{
        line-height: 19px;
    }
}

@media screen and (max-width: 480px){

    .tus_kurse_content h1{
        font-size: 36px;
        line-height: 44px;
    }

    .tus_kurse_content p{
        font-size: 12px;
        line-height: 15px;
        margin-left: 2.5rem;
    }

    .tus_kurse_content_button{
        margin: 1rem 5rem;
    }

    .tus_kurse_content_button button{
        margin-right: 2.5rem;
        font-size: 12px;
        line-height: 16px;
        width: 95px;
        height: 37px;
    }
}