.hor_scroller{
    position: relative;
    background-color: inherit;
    height: inherit;
    margin-bottom: 15px;
}

.hor_scroller_div{
    display: flex;
    position: sticky;
    left: 0;
    align-items: center;
}

.hor_scroller_motion{
    display: flex;
    flex-direction: row;
    gap: 10px;
}