.tus_abteilungen{
    display: flex;
    flex-direction: column;
    color: var(--color-text-blog);
    margin-top: 1rem;
}

.tus_abteilungen_textcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tus_abteilungen_textcontent h1{
    font-family: var(--font-family);
    font-size: 64px;
    font-weight: 800;
    line-height: 74px;
    letter-spacing: 0.06rem;
}

.tus_abteilungen_textcontent p{
    font-size: 20px;
    line-height: 26px;
    font-family: var(--font-family);
    color: var(--color-text-abteilungen);
}

.tus_abteilungen_scroler  {
    margin-top: 15px;

}








