* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
        background: -moz-radial-gradient(circle at 3% 25%, rgba(242, 239, 239, 1) 0%, rgba(173, 171, 173, 1) 100%);
    
        background: -webkit-radial-gradient(circle at 3% 25%, rgba(242, 239, 239, 1) 0%, rgba(173, 171, 173, 1) 100%);
    
        background: -o-radial-gradient(circle at 3% 25%, rgba(242, 239, 239, 1) 0%, rgba(173, 171, 173, 1) 100%);

        background: -ms-radial-gradient(circle at 3% 25%, rgba(242, 239, 239, 1) 0%, rgba(173, 171, 173, 1) 100%);

        background: radial-gradient(circle at 3% 25%, rgba(242, 239, 239, 1) 0%, rgba(173, 171, 173, 1) 100%);

}


.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__padding {
    padding: 4rem 6rem;
} 

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .slide-bck-top {
    -webkit-animation: slide-bck-top 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation: slide-bck-top 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }


@-webkit-keyframes slide-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-200px) translateY(-50px);
            transform: translateZ(-200px) translateY(-50px);
  }
}
@keyframes slide-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-200px) translateY(-50px);
            transform: translateZ(-200px) translateY(-50px);
  }
}



  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem
    }
  }

  @media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
  }

  .scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  
  