:root{
    --font-family:Arial, Helvetica Neue, sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103,22deg, #AE67FA -13.86%, #f49867 99.55%);
    

    --color-header: rgb(32, 32, 32);
    --color-bg: rgb(88, 0, 0);
    --color-footer: rgb(123, 126, 124);
    --color-highlight: rgb(255, 105, 97);
    --color-text-header: rgb(243, 236, 236);
    --color-text-blog: rgb(242, 239, 239);
    --welcome-text: rgb(235, 111, 111);
}