:root{
    --font-family:Arial, Helvetica Neue, sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103,22deg, #AE67FA -13.86%, #f49867 99.55%);

    --color-bg: rgb(88, 0, 0);
    --color-footer: rgb(123, 126, 124);
    --color-header: rgb(242, 239, 239);
    --color-highlight: rgb(255, 105, 97);
    --color-text-header: rgb(4, 12, 24);
    --color-text-blog: rgb(242, 239, 239);
}