.tus__header {
    display: flex;
    background-color: var(--color-header);
    color: var(--color-text-header);
}

.tus__header-content {
    padding-left: 2rem;
    padding-top: 1rem;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.tus__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.04em;
    margin-left: 1rem;
}

.tus__header-content p{
    font-family: var(--font-family);
    font-size: 22px;
    line-height: 32px;
    color: var(--color-text-header);
    margin-top: 0.5rem;
    margin-left: 7rem;
}

.tus__header-content .welcome__text{
    color: var(--welcome-text);
    margin-top: 0;
    margin-left: 0rem;
}

.tus__header-content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 8rem;
}

.tus__header-content-buttons button {
    background-color: rgb(235 111 111);
    margin-right: 5rem;
    border: none;
    color:black;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 27px;
    font-weight: medium;
    flex:1;
    border-radius: 10px;
    width: 128px;
    height: 49px;
    cursor: pointer;
}

.tus__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tus__header-image img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px){
   

    .tus__header-content{
        margin: 1 0 1rem;
    }

    .tus__header-content h1 {
        font-size: 40px;
        line-height: 46px;
        margin-left: 1rem;
    }

    .tus__header-content p {
        font-size: 15px;
        margin-top: 0;
        margin-left: 6rem;
        line-height: 22px;
    }

    .tus__header-content-buttons{
        margin: 1rem 6rem;
    }

    .tus__header-content-buttons button{
        margin-right: 3.5rem;
    }
}

@media screen and (max-width: 650px){
    .tus__header-image img{
       display: none;
    }

    .tus__header-content{
        margin: 0 0 0.5rem;
    }

    .tus__header-content p {
        line-height: 19px;
    }

}

@media screen and (max-width: 480px){

    .tus__header-content{
        margin: 0 0 0;
    }

    .tus__header-content h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .tus__header-content p {
        font-size: 12px;
        line-height: 15px;
        margin-left: 4rem;
    }

    .tus__header-content-buttons{
        margin: 1rem 5rem;
    }

    .tus__header-content-buttons button{
        margin-right: 2.5rem;
        font-size: 12px;
        line-height: 16px;
        width: 95px;
        height: 37px;
    }
}